*{
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    overflow: auto;
    background-color: rgb(192, 246, 255);
    

}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Press Start 2P', cursive;
    background-color: purple;
    color: white;
   
}
.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
    background: url(../images/crystal1.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    border-radius: 80px;
}

img{
    width: 25%;
}

.container{
    background-color: white;
    width: 30%;
    border: 2px solid black;
}

#result{
    border: 1px solid black;
    text-align: center;
    font-size: 45px;
    font-family: 'Press Start 2P', cursive;
    background-color: limegreen;
    width: 100%;
    padding: 0;
    margin: 0;
}

#crystal1{
  background-color: blue;
}

#scores {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}