*{
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpeg");
    overflow: auto;
}

h1 {
    text-align: center;
    font-size: 80px;
}
.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
   
}

img{
    width: 25%;
}

.container{
    background-color: white;
    width: 30%;
    border: 2px solid black;
}

#result{
    border: 1px solid black;
    text-align: center;
}