*{
    box-sizing: border-box;
}

body {
    background-image: url("assets/images/background.jpeg")
}

h1 {
    text-align: center;
}
.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
   
}

img{
    width: 50px;
}